<!-- Por favor MANTENHA os creditos -->
<hr>
<table>
<tr>
<td>
<a href="http://ifgraph.lrv.ufsc.br"><img alt="ifgraph-logo" src="ifgraph-logo.jpg" border="0"></a>
</td>
<td>
<font class="normal">Esta p&aacute;gina foi criada utilizando o <a href="http://ifgraph.lrv.ufsc.br">ifgraph 0.4.10</a> por <a href="mailto:sartori@lrv.ufsc.br">Ricardo Sartori</a><br>
Os gr&aacute;ficos e os arquivos RRD foram criados com o <a href="http://www.rrdtool.org">RRDTool</a> do Tobi Oetiker</font><br>
</td>
</tr>
</table>
</body>
</html>
