<!-- Please do not REMOVE the credits -->
<hr>
<table>
<tr>
<td>
<a href="http://ifgraph.lrv.ufsc.br"><img alt="ifgraph-logo" src="ifgraph-logo.jpg" border="0"></a>
</td>
<td>
<font class="normal">Estad&iacute;sticas generadas usando <a href="http://ifgraph.lrv.ufsc.br">ifgraph 0.4.10</a> de <a href="mailto:sartori@lrv.ufsc.br">Ricardo Sartori</a><br>
Los gr&aacute;ficos/RRD han sido creados usando <a href="http://www.rrdtool.org">RRDTool</a> de Tobi Oetiker</font><br>
</td>
</tr>
</table>
</body>
</html>
